/proj_1/*
!/proj_1/jiffies.c
!/proc_1/seconds.c
!/proc_1/Makefile

/proj_2.1/*
!/proj_2.1/simple-shell.c
!/proj_2.1/Makefile
!/proj_2.1/simple-shell.cpp
!/proj_2.1/shell.py

/proj_2.2/*
!/proj_2.2/pid.c
!/proj_2.2/Makefile

/proj_3/*
!/proj_3/banker.cpp
!/proj_3/resources.txt

/proj_4/*
!/proj_4/cma.cpp
!/proj_4/cma.h

/.vscode/*